[submodule "src/Universal_Robots_ROS2_Driver"]
	path = src/Universal_Robots_ROS2_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver.git
	branch = humble
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/tylerjw/serial.git
	branch = ros2
[submodule "src/robotiq_2f_urcap_adapter"]
	path = src/robotiq_2f_urcap_adapter
	url = https://github.com/fzi-forschungszentrum-informatik/robotiq_2f_urcap_adapter.git
[submodule "src/moveit_calibration"]
	path = src/moveit_calibration
	url = https://github.com/IllusionMZX/moveit_calibration.git
